a:hover,a:focus,a:active,a:visited{
  text-decoration: none;
}
.content-wrap{
  display: flex;
  height: 100vh;
  flex-direction: column;
}
@media (min-width:600px){
  .content-wrap{
    flex-direction: row ;
  }
}
.nav-header{
  display: flex;
  height: 80px;
  flex-shrink: 0;
  background-color: #00bcd4;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: #fff;
}
.nav-header h3{
  font-size: 4vh;
  margin: 0;
  font-weight: 700;
}
.nav-header span{
  font-size: 3vh;
}
.nav-header p{
  flex-shrink: 0;
  cursor:pointer;
  font-size: 3vh;
  margin: 0;
  padding: 5px 8px;
  background-color: rgba(0, 0, 0, 0.5);;
  border-radius: 5px;
}
.nav-footer{
  height: 80px;
  flex-shrink: 0;
  background-color: #00bcd4;
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.nav-footer a{
  flex-grow: 1;
  text-align: center;
  font-size: 3vh;
  color: #fff;
  border-right: 1px solid #388E3C;
}
.nav-footer a:last-child{
  border: none;
}
.nav-left{
  display: flex;
  flex-direction: column;
  width:300px;
  background-color: #00bcd4;

}
.nav-left h3{
  font-size: 5vh;
  font-weight: 700;
  padding-left:10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #FFEB3B;
}
.nav-left a{
  font-size: 3vh;
  color: #fff;
  padding: 20px 0 10px 10px;
  text-decoration: none;
}
.nav-left a:focue{
  text-decoration: none;
}
.nav-left a:hover {
  text-decoration: none;
  background-color:#000;
  opacity:0.2;
}
.content-main{
  flex-grow: 1;
  overflow-y: scroll;
  display:flex;
}
.home-container{
  display: flex;
  background-image: url(http://odqa9lxr4.bkt.clouddn.com/home2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  flex-grow: 1;
}
.home-cover{
  flex-grow:1;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}
.home-item{
  text-align: center;
  margin: 0 auto;
}
.home-item h3{
  font-size: 8vh;
  color: #fff;
}
.home-item h3 span{
  color: #03A9F4;
}
.home-item p{
  margin-top: 40px;
  font-size: 3vh;
  color: #fff;
}
.home-item button{
  margin-top: 40px;
}
.blog-btn{
  transition: all 450ms ease;
  border: 1px solid #F44336;
  border-radius: 5px;
  padding: 5px;
  color: #F44336;
}
.blog-btn:hover{
  background-color: #F44336;
  color: #fff;
}
.work-container{
  width: 100%;
}
.work-card {
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.work-card a{
  display: block;
  width: 100%;
}
.work-card a img{
  width: 100%;
  display: block;
}
.work-text{
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;
  padding-left: 10px;
}
.about-container{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}
.about-container h2{
  color: #00bcd4;
  text-align: center;
}
.about-search{
  margin-top: 20px;
  text-align: center;
}
.about-search input{
  border: none;
  border-bottom: 1px solid #00bcd4;
}
.about-info{
  display:flex;
  flex-direction: column;
  text-align: center;
}
.about-info img{
  width: 40%;
  margin: 20px auto;
}
.about-info p{
  margin-top: 20px;
}
.abou-follow{
  display: flex;
  flex-direction: row;

}
